# This is the top-most EditorConfig file
root = true

# Settings that apply to all languages / files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.yaml]
trim_trailing_whitespace = unset
